@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f6f6f8;
  color: #0d121b;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

section {
  position: relative;
}